@import url('./reset.css');

@font-face {
  font-family: 'NanumL';
  src: url('/week1/과제/font/NanumSquareRoundL.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; 
}
@font-face {
  font-family: 'NanumR';
  src: url('/week1/과제/font/NanumSquareRoundR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; 
}

/* 스크롤바 떄문에 가로 화면이 잘리거나 계속 움직여서 ! */
::-webkit-scrollbar {
	display: none;
}

header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  background-color: black;
  height:3rem;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'NanumR';
}

header img{
  position: absolute;
  left:2rem;
}

header p{
  position: absolute;
  right:2rem;
}

.filter {
  display: grid;
  align-items: center;
  background-color: rgb(239, 206, 206);
  font-family: 'NanumR';
  font-size:0.8rem;
  max-width: 43.75rem; 
  min-width: 18.75rem; 
  margin: 4rem auto 0 auto; 
  border-radius: 0.5rem;
  padding:0.7rem;
  gap:0.4rem;
  grid-template-columns: repeat(6, 1fr);
}

.filter label{
  background-color: rgb(243, 186, 209);
  width: 5.3rem;
  text-align: center;
  line-height: 2rem;
  flex-shrink: 0;
}

.filter input,
.filter select{
  border: none;
  outline: none;
  height:100%;
  font-family: 'NanumL';
  font-size:0.8rem;
  width:100%;
}

.filter-item{
  height:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: 'NanumR';
}

.filter-item:nth-child(1){
  grid-row: 1/2;
  grid-column: 1/7;
}

.filter-item:nth-child(2){
  grid-row: 2/3;
  grid-column: 1/7;
}

.filter-item:nth-child(3){
  grid-row: 3/4;
  grid-column: 1/3;
}

.filter-item:nth-child(4){
  grid-row: 3/4;
  grid-column: 3/5;
}

.filter-item:nth-child(5){
  grid-row: 3/4;
  grid-column: 5/7;
}

.filter-item:nth-child(6){
  grid-row: 4/5;
  grid-column: 1/4;
}

.filter-item:nth-child(7){
  grid-row: 4/5;
  grid-column: 4/7;
}


.filter-item:nth-child(8){
  grid-column: 1/4;
  background-color: rgb(255, 253, 183);
  border-radius: 1rem;
  margin-top:1rem;
}

.filter-item:nth-child(9){
  grid-column: 4/7;
  background-color: rgb(224, 255, 147);
  border-radius: 1rem;
  margin-top:1rem;
}

.filter-item:nth-child(8):hover {
  background-color: rgb(255, 230, 102);
  cursor: pointer;
}

.filter-item:nth-child(9):hover {
  background-color: rgb(204, 255, 84); 
  cursor: pointer;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 0.5rem auto;
  max-width: 45rem;
}

.selectRemove{
  width: 5rem;
  height: 1.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(243, 186, 209);
  font-family: 'NanumR';
}

.selectRemove:hover {
  background-color: rgb(255, 135, 183); 
  cursor: pointer;
}

.addMember{
  width: 4rem;
  height: 1.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(255, 175, 175);
  font-family: 'NanumR';
}

.addMember:hover {
  background-color: rgb(239, 105, 105);
  cursor: pointer; 
}

table {
  width: 100%;
  font-family: 'NanumR';
  font-size:0.8rem;
  max-width: 45rem; 
  margin: 0.5rem auto;
}

th, td {
  border: 0.1rem solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: rgb(243, 186, 209);
}

/* 열 별로 넓이 설정해두기 !! */
th:nth-child(1), td:nth-child(1) { width: 1.25rem; }
th:nth-child(2), td:nth-child(2) { width: 4.375rem; }
th:nth-child(3), td:nth-child(3) { width: 6.25rem; }
th:nth-child(4), td:nth-child(4) { width: 6.25rem; }
th:nth-child(5), td:nth-child(5) { width: 4.375rem; }
th:nth-child(6), td:nth-child(6) { width: 2.5rem; } 
th:nth-child(7), td:nth-child(7) { width: 4.375rem; } 
th:nth-child(8), td:nth-child(8) { width: 4.375rem; }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.modal{
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: #FFFFFF;
  width:17rem;
  font-family: 'NanumL';
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
}

.modalContent{
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 0.8rem;
}

.modalContent h2{
  font-family: 'NanumR';
  padding-top: 1rem;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.modal-item{
  display: flex;
  flex-direction: column;
  padding-top:0.5rem;
  gap:0.2rem;
}

.modalMemberPlus{
  font-family: 'NanumL';
  background-color: rgb(255, 175, 175);
  margin:1rem 0;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  border: none;
}

.modal-item input,
.modal-item select{
  padding:0.3rem 0.1rem;
  font-family: 'NanumL';
  outline: none;
}

.closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem; 
  font-size: 1.3rem;
  cursor: pointer; 
}